/* Nunito Regular */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Nunito Italic */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Nunito Thin */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Nunito Thin Italic */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Nunito Light */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Nunito Light Italic */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Nunito Medium */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Nunito Medium Italic */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Nunito Bold */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Nunito Bold Italic */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Nunito Black */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Nunito Black Italic */
@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
