@import "./fonts.css";

/* globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "sans-serif";
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background-color: #f4f4f4;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

h1 {
  padding: 128px 0 32px 32px;
}

.home-spacing {
  padding: 112px 0 32px 32px;
}

.img-title-caroussel {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  margin: 0;
  font-size: 64px;
  color: "black";
  z-index: 2;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    padding-bottom: 16px;
  }

  .img-title-caroussel {
    font-size: 32px;
  }
}
