@import "./fonts.css";

/* globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* font-family: "Courier New", monospace; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #75574b;
  margin: 16px;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

button {
  padding: 8px 16px;
  border: 1px solid #75574b;
  background-color: #c2c2c200;
  color: #75574b;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 200px;
}

button:hover {
  background-color: #75574b;
  color: #f4f4f4;
}

h1 {
  padding: 96px 0 32px 32px;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    padding-bottom: 16px;
  }
}
