.contact {
  min-height: calc(100vh - 64px);
}

.contact-info {
  padding: 64px;
  background-color: #8da399;
  color: white;
  font-size: 18px;
}

span {
  margin-left: 16px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 30%));
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 64px;
  line-height: 64px;
}

.contact-one {
  grid-column: 1;
  grid-row: 1;
}

.contact-two {
  grid-column: 2;
  grid-row: 1;
}

@media (max-width: 950px) {
  .contact-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .contact-form {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  .contact-one,
  .contact-two {
    padding-left: 16px;
    margin-block: 16px;
  }

  .contact-info {
    padding: 32px;
  }
}
