.home {
  padding-bottom: 128px;
}

.home-description {
  padding: 64px;
  font-size: 18px;
}

.home-content {
  width: 40%;
}
.home-content p:last-child {
  margin-bottom: 32px;
}

.home-image {
  width: 100%;
  height: auto;
}

.home-first {
  font-size: 48px;
  font-weight: 800;
}

.home-section-container {
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-section {
  height: 30vh;
  display: flex;
}

.home-text-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e6e6fa;
  padding-inline: 32px;
}

.home-image-container img {
  height: 30vh;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.home-image-container {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 32px;
  background-color: #e6e6fa;
}

.home-contact-section {
  display: flex;
  justify-content: center;
}

.home-contact-button {
  margin-block: 32px 16px;
}

@media (max-width: 950px) {
  .home-content {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .home-first {
    font-size: 32px;
    font-weight: 800;
  }

  .home-description {
    padding: 32px;
  }

  .home-content {
    width: 100%;
  }

  .home-content p:last-child {
    margin-bottom: 0;
  }

  .home-image-container {
    padding: 0;
  }

  .home-text-container {
    padding: 16px;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .home-description {
    padding-bottom: 64px;
  }

  .home-section {
    flex-direction: column;
    height: auto;
  }

  .home-text-container {
    padding: 16px;
    font-size: 14px;
  }

  .home-image-container {
    padding: 0;
  }

  .home-image-container img {
    height: auto;
    width: 100%;
  }
}
