.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 1) inset,
    0px 4px 7px -3px rgba(215, 255, 252, 0.17), 0px 2px 4px rgba(0, 0, 0, 0.22);
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar-logo {
  padding-left: 16px;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
  .navbar-logo {
    display: none;
  }
}
