.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
  height: 64px;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 1) inset,
    0px 4px 7px -3px rgba(215, 255, 252, 0.17), 0px 2px 4px rgba(0, 0, 0, 0.22);
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar-logo,
.navbar-links {
  padding-inline: 32px;
}

.custom-select select {
  padding: 5px 20px;
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #75574b;
  cursor: pointer;
}

.navbar-logo {
  position: relative;
}

.navbar-logo img {
  position: absolute;
  bottom: 0;
  width: 32px;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
  .navbar-logo {
    display: none;
  }

  .navbar-logo,
  .navbar-links {
    padding-inline: 16px;
  }
}
